# pip3_package
wheel==0.44.0
setuptools==75.3.0

# server
flask==3.0.3
waitress==3.0.1

# application
newsapi-python==0.2.7
urllib3==2.2.3
certifi==2024.8.30
psutil==6.1.0
PyJWT==2.9.0
bleach==6.2.0
pillow==11.0.0
